@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.container {
  max-width: 1330px;
}

.navbar {
  padding: 12px 0;
  align-items: center;
}

.header {
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.07);
}

.header .header_buttons {
  display: flex;
  gap: 57px;
  align-items: center;
}

.header .header_buttons .dropdown .btn {
  background: #FFFFFF;
  border: 1px solid #35255C;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #35255C !important;

}

.dropdown-toggle::after {
  display: none !important;
}

.header .header_buttons .close_btn {
  background: #35255C;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}